.Rproj.user
.Rhistory
.RData
.Ruserdata
reddit_map_2005.csv
reddit_map_2006.csv
reddit_map_2007.csv
reddit_map_2008.csv
reddit_map_2009.csv
reddit_map_2010.csv
reddit_map_2011.csv
reddit_map_2012.csv
reddit_map_2013.csv
reddit_map_2014.csv
reddit_map_2015_01.csv
reddit_map_2015_02.csv
reddit_map_2015_03.csv
reddit_map_2015_04.csv
reddit_map_2015_05.csv
reddit_map_2015_06.csv
reddit_map_2015_07.csv
reddit_map_2015_08.csv
reddit_map_2015_09.csv
reddit_map_2015_10.csv
reddit_map_2015_11.csv
reddit_map_2015_12.csv
reddit_map_2016_01.csv
reddit_map_2016_02.csv
reddit_map_2016_03.csv
reddit_map_2016_04.csv
reddit_map_2016_05.csv
reddit_map_2016_06.csv
reddit_map_2016_07.csv
reddit_map_2016_08.csv
reddit_map_2016_09.csv
reddit_map_2016_10.csv
reddit_map_2016_11.csv
reddit_map_2016_12.csv
reddit_map_2017_01.csv
reddit_map_2017_02.csv
reddit_map_2017_03.csv
reddit_map_2017_04.csv
reddit_map_2017_05.csv
reddit_map_2017_06.csv
reddit_map_2017_07.csv
reddit_map_2017_08.csv
reddit_map_2017_09.csv
reddit_map_2017_10.csv
reddit_map_2017_11.csv
reddit_map_2017_12.csv
reddit_map_2018_01.csv
reddit_map_2018_02.csv
reddit_map_2018_03.csv
reddit_map_2018_04.csv
reddit_map_2018_05.csv
reddit_map_2018_06.csv
reddit_map_2018_07.csv
reddit_map_2018_08.csv
reddit_map_2018_09.csv
reddit_map_2018_10.csv
reddit_map_2018_11.csv
reddit_map_2018_12.csv
reddit_map_2019_01.csv
reddit_map_2019_02.csv
reddit_map_2019_03.csv
reddit_map_2019_04.csv
reddit_map_2019_05.csv
reddit_map_2019_06.csv
reddit_map_2019_07.csv
reddit_map_2019_08.csv
reddit_map_2019_09.csv
